package ${daoClass.packageName};

import ${daoClass.packageName}.${entity.name};
import org.springframework.data.jpa.repository.JpaRepository;
import org.springframework.data.jpa.repository.JpaSpecificationExecutor;

public interface ${entity.name}Dao extends IBaseJpaRepository<${entity.name}> {
}
