@charset "utf-8";
/* CSS Document */
*{
	margin: 0;
	padding: 0;
	font-family:"Microsoft YaHei"! important;
	font-size: 24px;
}
input[type="button"], input[type="submit"], input[type="reset"] {
	-webkit-appearance: none;
}
textarea {  -webkit-appearance: none;}
.banner{
	width: 100%;
	height: 410px;
	background-image: url(../images/personal%20center_bg.png);
	background-repeat: no-repeat;
	background-size: cover;
}
.sidebar{
	height: 50px;
	width: 86px;
	font-size: 24px;
	background-image: url(../images/personal%20center_view.png);
	background-repeat: no-repeat;
	position: absolute;
	right: 0px;
	top: 36px;
	text-align: center;
	line-height: 40px;
}
.sidebar a{
	text-decoration: none;
	color: rgba(255,148, 30,0.5);
}
.sidebar a:active{
	color: rgba(255,148, 30,0.3);
}
.pic_box{
	width: 180px;
	height: 180px;
	margin: 0 auto;
	text-align: center;
	padding-top: 50px;
}
.pic_box span{
	color: #fff;
	position: relative;
	top: 10px;
	font-size: 1rem;

}
.pic_box img{
	width: 180px;
	height: 180px;
	border-radius: 90px;
}
.menu{
	display: block;
	width: 80%;
	margin: 0 auto;
	position: relative;
	top: 78px;
}
.menu a{
	text-decoration: none;
	color: #777;
}
.menu a:hover,.menu a:active{
	color: #f0770e;
}
.cz,.dd,.add,.jl{
	width: 50%;
	float: left;
	text-align: center;
	height: 120px;
}
.cz,.dd{
	position: relative;
	top: 20px;
}
.add,.jl{
	position: relative;
	top: 80px;
}
.bgt{
	float: left;
	width: 100%;
	position: absolute;
	top: 0px;
	text-align: center;
	overflow: hidden;

}
.cz{
	background: url(../images/personal%20center_top%20up_icon.png) no-repeat top;
}
.dd{
	background: url(../images/personal%20center_order_icon.png) no-repeat top;
}
.add{
	background: url(../images/personal%20center_address_icon.png) no-repeat top;
}
.jl{
	background: url(../images/personal%20center_record_icon.png) no-repeat top;
}
.span{
	position: absolute;
	bottom: 10px;
	display: block;
	margin:0 auto;
	text-align: center;
	width: 100%;
}
.ending1{
	height: 70px;
}
.button5{
	height:70px;
	width: 100%;
	text-align: center;
	line-height: 70px;
	border-radius: 50px;
	font-size: 30px;
	color: #fff;
	border: none;
	outline: none;
	margin-top: 300px;
	background: #ff8400;
}
.loading{
	width: 70%;
	margin:0 auto;
	margin-top: 200px;
}
.loading_box{
	height:100px;
	width: 100%;
	text-align: center;
	line-height: 100px;
	border: 1px solid #ff8400;
	border-radius: 50px;
	background-color: #ff8400;
	clear: both;
}
.box{
	font-size:40px;
	color: white;}
.box a{
	text-decoration: none;
	color: #fff;
}
.box a:active{
	color: rgba(255,255,255,0.5);
}
.section{
	width: 90%;
	margin-top: 120px;
	margin-right: auto;
	margin-left: auto;
	background-color: #fff;
	overflow: hidden;
}
.topbar{
	height: 160px;
	text-align: center;

	background-image: url(../images/Group%202.png);
	background-position: center;
	background-repeat: no-repeat;

}
.toutiao{
	line-height: 160px;
	background-color: #b3b3b3;
}
.section2{
	padding-top: 30px;
	background: #fff;
	margin-bottom: 30px;
}
.list{
	width: 90%;
	margin: 0 auto;
}
.ddbh{
	padding-bottom:50px;
	border-bottom: 2px solid #e3e3e3;
}
.ddbh1{
	float: left;}
.ddbh2{
	float: right;
}
.nr{
	padding:30px 0px;
	border-bottom: 2px solid #e3e3e3;
	background: url(../images/%E6%88%91%E7%9A%84%E8%AE%A2%E5%8D%951.png) no-repeat left;
}
.nr2,.nr3{
	display: block;
	margin-left: 170px;
}
.nr2{
	font-size: 1rem;
	color: #000;
}
.nr3 ul{
	list-style-type: none;
	margin-top: 20px;
	color: #9f9f9f;
}
.sj{
	padding: 30px 0px;
	text-align: right;
}
.add1 ul{
	list-style-type: none;
}
.add1{
	padding: 30px 0;
	border-bottom: 2px solid #e3e3e3;
}
.mr{
	padding: 30px 0px;
}
.fy{
	position: fixed;
	bottom: 70px;
	width: 100%;
	height: 120px;
}
.btn6{
	display: block;
	width: 200px;
	height: 80px;
	float: left;
	margin-left: 40px;
	font-size: 30px;
	border-radius:30px;
	background: #f29838;
	border: none;
	color:  #fff;
	outline: none;
}
.btn7{
	height: 80px;
	width: 200px;
	display: block;
	float: right;
	margin-right: 40px;
	font-size: 30px;
	border-radius:30px;
	background: #f29838;
	border: none;
	color:  #fff;
	outline: none;
}
.btn7:active{
	color: rgba(242,152,56,0.5);
}
.fy1{
	position: fixed;
	bottom: 100px;
	width: 100%;
	height: 120px;
}
.btn3{
	display: block;
	width: 200px;
	height: 80px;
	float: left;
	margin-left: 40px;
	font-size: 30px;
	border-radius:30px;
	border: 1px solid #f29838;
	color:  #f29838;
	outline: none;
	background: rgba(0,0,0,0);
}
.btn4{
	height: 80px;
	width: 200px;
	display: block;
	float: right;
	margin-right: 40px;
	font-size: 30px;
	border-radius:30px;
	background: rgba(0,0,0,0);
	border: 1px solid #f29838;
	color: #f29838;
	outline: none;
}
.btn4:active,.btn3:active{
	color: rgba(242,152,56,0.5);
}
.list_box{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1em 0px;
	border-bottom: 2px solid #e3e3e3;
}
.address_list{
	display: inline-flex;
	overflow: hidden;
	width: 60%;
}
.address_list_img,.address_name{
	display: block;
}
.address_list_img{
	width: 6em;
	height: 6em;
}
.address_name{
	margin-left: .8em;
}
.address_list li{
	list-style-type: none;
	font-style:normal;
}
.tittle{
	font-size: 1.2em;
	font-weight: 600;
}
.checked{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	white-space: nowrap;
}
.checked_way{
	position: relative;
}
.checked_way a{
	color: #fff;
}
.checked_way a:active{
	color: rgba(0,0,0,0.5);
}